<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width initial-scale=1.0" name="viewport">
    <title>Discuss-It</title>
    <!-- searchability -->
    <meta content="Discuss It - Online discussion tracker for finding conversations" name="description">
    <meta content="lucas charles" name="author">
    <meta content="index" name="robots">
    <meta content="website discussions reddit slashdot hackernews conversations search" name="keywords">
    <meta content="Discuss It" property="og:title">
    <meta content="Website" property="og:type">
    <meta content="http://discussitapp.com" property="og:url">
    <meta content="Discuss It App" property="og:site_name">
    <meta content="Discuss It - Online discussion tracker for finding conversations" property="og:description">
    <!-- mobile specific metas -->
    <meta content="width=device-width initial-scale=1" name="viewport">
    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- Google Search Console -->
    <meta content="kMG6lgDLRhhYRIaPnIyu-Zu-Ll8O463w9V6cvzPTDZ4" name="google-site-verification">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91539905-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91539905-3');
    </script>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-expanded="false" data-target="#navbar-collapsable-1" data-toggle="collapse" type="button">
              <span class="sr-only ">Toggle navigation</span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
            </button>
            <a class="navbar-brand" href="/">Discuss It!</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div id="navbar-collapsable-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/about">About</a>
              </li>
            </ul>
          </div>
          <!--.navbar-collapse>  <![endif]-->
        </div>
        <!--.container-fluid>  <![endif]-->
      </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <p class="app-version">Discuss It <%= DateTime.utc_now.year %> - v<%= @app_version %></p>
        <!-- <br> -->
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
